<div class="w-1/4 m-4 bg-blue-500 rounded-md sidebar-wrapper">
  <div class="sidebar-brand"></div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <ion-icon name="home"></ion-icon>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <ion-icon name="document"></ion-icon>
        <a href="#">Invoices</a>
      </li>
      <li>
        <ion-icon name="bag-handle"></ion-icon>
        <a href="#">Products</a>
      </li>
      <li>
        <ion-icon name="settings"></ion-icon>
        <a href="#">Settings</a>
      </li>
    </ul>
  </div>

  <div class="sidebar-attribution"></div>
</div>
