<div class="min-h-screen bg-white p-4 w-72 sidebar-wrapper">
  <div class="flex items-center justify-center mt-8 mb-16 sidebar-brand">
    <img src="../../assets/images/pills.svg" alt="" class="w-12 h-12 mx-2" />
    <span class="mx-2 text-xl font-semibold">Medicare</span>
  </div>

  <div class="w-60 sidebar-menu">
    <ul class="justify-center w-full">
      <li>
        <ion-icon name="home"></ion-icon>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <ion-icon name="document"></ion-icon>
        <a href="#">Invoices</a>
      </li>
      <li>
        <ion-icon name="bag-handle"></ion-icon>
        <a routerLink="/products" routerLinkActive="router-link-active">Products</a>
      </li>
      <li>
        <ion-icon name="settings"></ion-icon>
        <a href="#">Settings</a>
      </li>
    </ul>
  </div>

  <div class="sidebar-attribution"></div>
</div>
